[SddmGreeterTheme]
Name=Artorias Minimal
Description=Minimal SDDM theme inspired by Quickshell dashboard
Author=Bruno
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=artorias-minimal
Theme-API=2.0
QtVersion=6
