layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                hide_frame_for_single_pane "false"

                format_left   "#[fg=#DBBC7F,bold] {session} {tabs}"
                format_center ""
                format_right  "{mode}"
                format_space  ""

                mode_normal  "#[fg=#D3C6AA,bold] Normal "
                mode_locked  "#[fg=#DBBC7F,bold] Locked "
                mode_pane    "#[fg=#7FBBB3,bold] Pane "
                mode_tab     "#[fg=#83C092,bold] Tab "
                mode_resize  "#[fg=#E69875,bold] Resize "
                mode_session "#[fg=#D699B6,bold] Session "
                mode_scroll  "#[fg=#E67E80,bold] Scroll "
                mode_search  "#[fg=#E67E80,bold] Search "

                tab_normal   "#[fg=#9DA9A0]  [{index}] {name} "
                tab_active   "#[fg=#D3C6AA] 󰐾 [{index}] {name} "
            }
        }
    }
}
