fg "#E7EAEE"
bg "#2C313A"
// Black should match the terminal background color
// This ensures the top and bottom bars are transparent
black "#1D2228"
red "#F97791"
green "#38FFA5"
yellow "#FFE77A"
blue "#5CCEFF"
magenta "#FFB3EC"
cyan "#0AE7FF"
white "#a9b1d6"
orange "#FFA064"

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                hide_frame_for_single_pane "false"

                format_left   "{tabs}"
                format_center ""
                format_right  "{mode} #[fg=$yellow,bold]@ {session}"
                format_space  ""

                mode_normal  "#[fg=$fg,bold] Normal "
                mode_locked  "#[fg=$yellow,bold] Locked "
                mode_pane    "#[fg=$green,bold] Pane "
                mode_tab     "#[fg=$blue,bold] Tab "
                mode_resize  "#[fg=$orange,bold] Resize "
                mode_session "#[fg=$magenta,bold] Session "
                mode_scroll  "#[fg=$red,bold] Scroll "
                mode_search  "#[fg=$red,bold] Search "

                tab_normal   "#[fg=$white][{index}] {name}"
                tab_active   "#[fg=$fg][{index}] {name}"
            }
        }
    }
}
