* {
    dark:       #000000;
    grey:       #313131;
    light:      #ffffff;
    text:       #ffffff;
    focus:      #ffb86c;
    urgent:     #ff5555;
    active:     #ffffff;
    inactive:   #4c566a;
    color1:     #221f1f;
    color2:     #2e2726;
    color3:     #2e3233;
    color4:     #2e4747;
}
