[Desktop Entry]
Type=Application
Version=1.0
Name=Brave - Bruno
GenericName=Web Browser
Exec=/home/bruno/.nix-profile/bin/python3 /home/bruno/.config/sway/launch-brave-profile.py bruno
Icon=brave-browser
Terminal=false
StartupNotify=true
StartupWMClass=brave-browser
PrefersNonDefaultGPU=true
Categories=Network;WebBrowser;
