themes {
    teide-dark {
        fg "#E7EAEE"
        bg "#2C313A"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#1D2228"
        red "#F97791"
        green "#38FFA5"
        yellow "#FFE77A"
        blue "#5CCEFF"
        magenta "#FFB3EC"
        cyan "#0AE7FF"
        white "#a9b1d6"
        orange "#FFA064"
    }
}
